body {
  font-family: Helvetica, Arial, Sans-Serif;
}
div {
  /* border: 1px solid black; */
  margin: 5px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.dish-card {
  width: 300px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 30px;
}
.dish-img {
  /* border: 2px solid red; */
  /* background-color: blue; */
  width: 100%;
  height: 50%;
  overflow: hidden;
  background-color: lightblue;
}
.dish-img > img {
  width: 100%;
  transform: translateY(-100px);
}
.dish-edit {
  background-color: green;
  position: absolute;
  right: 0;
  top: -40px;
  height: 50px;
  width: 50px;
}
.dish-info {
  background-color: yellow;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0.75 auto;
}
.dish-detail {
  background-color: pink;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.dish-detail-pf,
.dish-detail-del {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
.dish-detail-del {
  cursor: pointer;
}
.dish-detail-del > img {
  width: 100%;
}
